<div id="<%= dom_id data_dictionary %>">
  <p>
    <strong>Current version:</strong>
    <%= data_dictionary.current_version %>
  </p>

  <p>
    <strong>Modification type:</strong>
    <%= data_dictionary.modification_type_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= data_dictionary.description %>
  </p>

  <p>
    <strong>Catalog:</strong>
    <%= data_dictionary.catalog_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= data_dictionary.created_by %>
  </p>

  <p>
    <strong>Modified by:</strong>
    <%= data_dictionary.modified_by %>
  </p>

</div>
