<div id="<%= dom_id catalog_datum %>">
  <p>
    <strong>Catalog:</strong>
    <%= catalog_datum.catalog_id %>
  </p>

  <p>
    <strong>Tuples:</strong>
    <%= catalog_datum.tuples %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= catalog_datum.created_by %>
  </p>

  <p>
    <strong>Modified by:</strong>
    <%= catalog_datum.modified_by %>
  </p>

</div>
