<%= form_with(model: catalog_datum) do |form| %>
  <% if catalog_datum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(catalog_datum.errors.count, "error") %> prohibited this catalog_datum from being saved:</h2>

      <ul>
        <% catalog_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :catalog_id, style: "display: block" %>
    <%= form.text_field :catalog_id %>
  </div>

  <div>
    <%= form.label :tuples, style: "display: block" %>
    <%= form.text_field :tuples %>
  </div>

  <div>
    <%= form.label :created_by, style: "display: block" %>
    <%= form.text_field :created_by %>
  </div>

  <div>
    <%= form.label :modified_by, style: "display: block" %>
    <%= form.text_field :modified_by %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
