<p style="color: green"><%= notice %></p>

<%= render @catalog_datum %>

<div>
  <%= link_to "Edit this catalog datum", edit_catalog_datum_path(@catalog_datum) %> |
  <%= link_to "Back to catalog data", catalog_data_path %>

  <%= button_to "Destroy this catalog datum", @catalog_datum, method: :delete %>
</div>
