<div id="<%= dom_id data_dictionary_field %>">
<table>
  <thead>
    <tr>
      <th>Data dictionary</th>
      <th>Version</th>
      <th>Field name</th>
      <th>Field type</th>
      <th>Field description</th>
      <th>Created by</th>
      <th>Modified by</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= data_dictionary_field.data_dictionary_id %></td>
      <td><%= data_dictionary_field.version %></td>
      <td><%= data_dictionary_field.field_name %></td>
      <td><%= data_dictionary_field.field_type_id %></td>
      <td><%= data_dictionary_field.field_description %></td>
      <td><%= data_dictionary_field.created_by %></td>
      <td><%= data_dictionary_field.modified_by %></td>
    </tr>
  </tbody>
</table>

</div>

