<%= turbo_frame_tag "field_#{form.index}" do %>
<%= form.hidden_field :id %>

<div class="form-group">
    <%= form.label :field_name, style: "display: block" %>
    <%= form.text_field :field_name, class: "form-control" %>
</div>
<hr style="border:none">
<div class="form-group">
    <%= form.label :field_type_id, style: "display: block" %>
    <%= form.collection_select :field_type_id, FieldType.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
</div>
<hr style="border:none">
<div class="form-group">
    <%= form.label :field_description, style: "display: block" %>    
    <%= form.text_area :field_description, rows: 5, cols: 40, class: "form-control" %>
</div>
<hr style="border:none">
  <div class="form-group">
    <%= form.label :locked, style: "display: block" %>
    <%= form.check_box :locked, class: "form-check-input" %>
  </div>
<%= form.object.inspect %>
 <%= form.submit "destroy field", 
        formaction: data_dictionary_field_path(form.index, 0), 
        formmethod: :delete, 
        formnovalidate: true, 
        data: { turbo_frame: "field_#{form.index}" } %>
<% end %>