<!DOCTYPE html>
<html>
<head>
  <title>SAC Applicación</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="<%= asset_path 'favicon.png' %>" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400,600;700;800&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'application', 'vendor.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'app.min', media: 'all', 'data-turbolinks-track': 'reload' %>
   <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.1.1/dist/select2-bootstrap-5-theme.min.css"
    />
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%# <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> %>
  <%= javascript_include_tag  'application', 'vendor.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag  'application', 'app.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <!-- BEGIN #app -->
  <div id="app" class="app app-content-full-height app-footer-fixed ">
    <!-- BEGIN #sidebar -->
    <div id="sidebar" class="app-sidebar">
      <div class="auth-bg auth-bg-scroll" style="background-image: url(<%= asset_path 'login-bg.jpg' %>);">
        <div class="auth-mask"></div>
      </div>

      <!-- BEGIN scrollbar -->
      <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN mobile-toggler -->
        <div class="mobile-toggler">
          <button type="button" class="menu-toggler" data-dismiss="sidebar-mobile">
            <span class="mdi mdi-arrow-left"> </span>
          </button>
        </div>
        <!-- END mobile-toggler -->

        <div class="desktop-toggler">
          <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
            <span class="mdi mdi-arrow-left"> </span>
          </button>
        </div>

        <!-- BEGIN brand -->
        <div class="brand">
          <a class="brand-logo" href="/" title="Declaranet">
            <img src="<%= asset_path 'escudo-sonora-blanco.svg' %>" class="logo" alt="Declaranet">
            <h1>SAC</h1>
          </a>
        </div>
        <!-- END brand -->

        <!-- BEGIN menu -->
        <div class="menu">
          <div class="menu-header"><span class="menu-text">Navegación</span></div>
          <div class="menu-item  active">
            <a href="/" class="menu-link">
              <span class="menu-icon"><i class="mdi mdi-view-dashboard-variant-outline"></i></span>
              <span class="menu-text">Inicio</span>
            </a>
          </div>
          <div class="menu-divider"></div>
          <div class="menu-header"><span class="menu-text">Ajustes</span></div>
          <div class="menu-item">
            <a href="/catalogs" class="menu-link">
              <span class="menu-icon"><i class="mdi mdi-database-outline"></i></span>
              <span class="menu-text">Catálogos</span>
            </a>
          </div>
          <div class="menu-item">
            <a href="/data_dictionaries" class="menu-link">
              <span class="menu-icon"><i class="mdi mdi-database-outline"></i></span>
              <span class="menu-text">Diccionario de datos</span>
            </a>
          </div>
          <div class="menu-divider"></div>
          <div class="menu-header"><span class="menu-text">Administración</span></div>
          <div class="menu-item has-sub ">
            <a href="" class="menu-link">
              <span class="menu-icon"><i class="mdi mdi-account-group"></i></span>
              <span class="menu-text">Acceso</span>
              <span class="menu-caret"><b class="caret"></b></span>
            </a>
            <div class="menu-submenu">
              <div class="menu-item  ">
                <a href="/usuarios" class="menu-link"><span class="menu-text">Usuarios</span></a>
              </div>
              <div class="menu-item  ">
                <a href="/roles" class="menu-link"><span class="menu-text">Roles</span></a>
              </div>
              <div class="menu-item  ">
                <a href="/permisos" class="menu-link"><span class="menu-text">Permisos</span></a>
              </div>
            </div>
          </div>
          <div class="menu-item  ">
            <a href="/bitacora/" class="menu-link">
              <span class="menu-icon"><i class="mdi mdi-book-clock-outline"></i></span>
              <span class="menu-text">Bitácora</span>
            </a>
          </div>
          <div class="menu-divider"></div>
          <div class="menu-header"><span class="menu-text">Cerrar Sesión</span></div>
          <div class="menu-item  ">
            <a href="/salir" class="menu-link">
              <span class="menu-icon"><i class="mdi mdi-logout-variant"></i></span>
              <span class="menu-text">Salir del Sistema</span>
            </a>
          </div>
        </div>
        <!-- END menu -->
      </div>
      <!-- END scrollbar -->

      <!-- BEGIN mobile-sidebar-backdrop -->
      <button class="app-sidebar-mobile-backdrop" data-dismiss="sidebar-mobile"></button>
      <!-- END mobile-sidebar-backdrop -->
    </div>
    <!-- END #sidebar -->
    <div id="content" class="app-content">
        <div class="container-fluid">
          <!-- BEGIN #header -->
          <div id="header" class="app-header">
            <!-- BEGIN mobile-toggler -->
            <div class="mobile-toggler">
              <button
                type="button"
                class="menu-toggler"
                data-toggle="sidebar-mobile"
              >
                <span class="mdi mdi-menu"></span>
              </button>
            </div>
            <!-- END mobile-toggler -->

            <!-- BEGIN menu -->
            <div class="menu">
              <h3 class="page-header"></h3>

              <%# <form class="menu-search" method="POST" name="header_search_form">
                <div class="menu-search-icon">
                  <i class="mdi mdi-magnify"></i>
                </div>
                <div class="menu-search-input">
                  <select
                    class="form-control select2Agreements"
                    autocomplete="off"
                    name="agreementsSearch"
                  ></select>
                </div>
              </form> %>

              <div class="menu-item dropdown">
                <a
                  href="#"
                  data-bs-toggle="dropdown"
                  title=" Usuario Verificado "
                  data-bs-display="static"
                  class="menu-link"
                >
                  <div class="menu-img">
                    <i class="mdi mdi-account-circle-outline"></i>
                  </div>

                  <div class="menu-text lh-1">
                    Roman Alvarado <span class="mdi mdi-chevron-down"></span>
                    <small class="d-block fw-normal"
                      >roman.alvarado@sonora.gob.mx</small
                    >
                  </div>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end me-lg-3 py-0 border"
                >
                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="public/perfil"
                  >
                    <span
                      class="mdi mdi-account-circle fs-4 me-2 text-pink"
                    ></span>
                    Mi perfil
                  </a>
                  <div class="dropdown-divider my-0"></div>

                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="public/perfil"
                  >
                    <i class="mdi mdi-face-agent fs-4 me-2 text-pink"></i>
                    Soporte
                  </a>
                  <div class="dropdown-divider my-0"></div>

                  <a
                    class="dropdown-item d-flex align-items-center"
                    href="public/salir"
                    onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();"
                  >
                    <span
                      class="mdi mdi-exit-to-app fs-4 me-2 text-pink"
                    ></span>
                    Salir
                  </a>

                  <form
                    id="logout-form"
                    action="public/salir"
                    method="POST"
                    class="d-none"
                  >
                    <input
                      type="hidden"
                      name="_token"
                      value="iorh6kkMTq7f5aJ3V9oTu2c0lTCjOcED6fDDzyfi"
                    />
                  </form>
                </div>
              </div>
            </div>
            <!-- END menu -->
          </div>
          <!-- END #header -->

        <section class="py-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                
              <%# <li class="breadcrumb-item"><a href="/catalogs">Inicio</a></li>


              <li class="breadcrumb-item"><a href="/catalogs">Catálogos</a></li>


              <li class="breadcrumb-item active" aria-current="page">Listado</li> %>
              <!-- Render breadcrumbs -->
              <%= render 'shared/breadcrumbs' %>
            </ol>
          </nav>
        </section>


<section class="py-4">
    </section>

<section class="">
    <section class="system-messages">

    <div class="container-fluid">
        <div>
                    </div>
    </div>
</section>

<section class="system-error-messages">


</section>
</section>


          <div class="row">
            <%= yield %>
            <%= turbo_frame_tag "remote_modal", target: "_top" %>
            <%= turbo_frame_tag "remote_modal_dictionary_field", target: "_top" %>
            <%= turbo_frame_tag "remote_modal_catalog_datum", target: "_top" %>
          </div>

          

          
        </div>
      </div>
  </div>
      <!-- BEGIN btn-scroll-top -->
    <a href="#" data-click="scroll-top" class="btn-scroll-top fade"
      ><i class="fa fa-arrow-up"></i
    ></a>
    <!-- END btn-scroll-top -->
</body>
</html>
